.HWM {
    display: block;
}
.SWM {
    display: none;
}

@media only screen and (max-width: 800px) {
    .HWM {
        display: block;
    }
    .SWM {
        display: none;
    }
}


.nav-container {
    width: 100%;
    position: fixed;
    z-index: 2;
}
.alert-bar-container {
    width: 100%;
    padding: 5px;
    text-align: center;
    white-space: pre-wrap;
}
.alert-bar-container:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.1s;
}
.nav-bar-container {
    /* position: fixed; */
    position: relative;
    width: 100%;
    /* height: 70px; */
    text-align: center;
    background-color: #f5f5fa;
    color: white;
    border-bottom: 2px solid #f0f0f5;
    display: grid;
    grid-template-columns: 10% 50% 40%;
}
.icon-container {
    align-self: center;
    justify-self: end;
}
.nav-bar-icon {
    height: 50px;
}

.search-bar {
    justify-self: start;
    margin: 20px;
    height: 30px;
    width: 90%;
    border-radius: 15px;
    border-radius: 3px;
    border: 2px #dfdfdf solid;
    justify-self: start;
    align-self: center;
    display: grid;
    grid-template-columns: 30px 2px 1fr;
}
.SB-separator {
    grid-column: 1/6;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: #dfdfdf;
}
.enter-search {
    position: relative;
    z-index: 1;
    height: 30px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
}
.search-hr {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #efefef;
}
.search-icon {
    position: relative;
    z-index: 1;
    margin: auto;
    height: 60%;
}
.searching-for {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: white;
    /* border: 2px #484848 solid; */
    padding-top: 4px;
    color: #282828;
    font-weight: bold;
}
.search-hover:hover {
    background-color: #efefef;
    cursor: pointer;
    transition: background-color 0.25s;
}
.search-input {
    position: relative;
    z-index: 1;
    border: none;
    font-size: 15px;
    background-color: white;
    color: #282828;
} 
.search-description {
    text-align: start;
    margin: 0;
    margin-left: 48px;
    
}
.search-suggestion {
    text-align: start;
    padding-bottom: 5px;
    border-right: 2px solid #dfdfdf;
    border-left: 2px solid #dfdfdf;
    padding-left: 30px;
}
.search-suggestion:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.1s;
}

.filter-DD {
    position: relative;
    grid-column: 5/6;
    top: -15px;
    padding-top: 15px;
    background-color: white;
    z-index: 0;
    border-bottom: 2px solid #dfdfdf;
    border-right: 2px solid #dfdfdf;
    border-left: 2px solid #dfdfdf;
}
.filter-option {
    color: #282828;
    text-align: start;
    padding-left: 5px;

    padding-bottom: 5px;
}
.filter-option:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.1s;
}

@media only screen and (max-width: 800px) {
    .nav-container-m {
        position: fixed;
        left: 0;
        top: 0;
        /* overflow: hidden; */
        width: 100%;
        z-index: 2;
    }
    .nav-bar-container-m {
        position: relative;
        background-color: #f5f5fa;
        border-bottom: 2px solid #f0f0f5;
        display: grid;
        grid-template-columns: auto auto;
    }
    .NB-brand {
        justify-self: start;
        color: #282828;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: flex-start;
    }
    .NB-logo {
        width: 2.5rem;
        margin: auto;
        margin-left: 10px
    }
    .NB-primary-utilities {
        justify-self: end;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: flex-end;
    }
    .PU-search {
        width: 1.7rem;
        margin: auto;
        margin-right: 20px;
    }
    .PU-hamburger-container {
        display: grid;
        grid-template-columns: 1fr 0px;
    }
    .PU-hamburger {
        width: 1.7rem;
        margin: auto;
        margin-right: 30px;
    }
    .nav-bar-sub-container {
        position: relative;
        background-color: #f5f5fa;
        border-bottom: 2px solid #f0f0f5;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        column-gap: 5px;
    }
    .nav-bar-sub-container-m {
        position: relative;
        background-color: #f0f0f5;
        border-bottom: 2px solid #f0f0f5;
        display: grid;
        /* flex-direction: row; */
        grid-template-columns: repeat(6, auto);
        /* justify-content: stretch; */
        column-gap: 3px;
    }
    .login-bar {
        grid-template-columns: 2fr 2fr 1fr;
    }

    .search-bar {
        justify-self: center;
        /* margin: auto; */
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        width: 80%;
        border-radius: 3px;
        /* border: 2px #dfdfdf solid; */
        background-color: white;
        border: none;
        display: grid;
        grid-template-columns: 30px 2px 1fr;
    }
    .search-input {
        height: 70%;
    }
    .PN-container {
        display: grid;
        grid-template-columns: auto 0px;
        justify-content: center;
    }
    .notification-item {
        height: 30px;
        width: 100%;
        color: #484848;
        margin: auto;
    }
    .PN-bubble {
        position: relative;
        text-align: center;
        color: white;
        left: -15px;
        width: 20px;
        height: 20px;
        background-color: rgb(254,52,77);
        border-radius: 20px;
    }
    .PN-bubble-hamburger {
        left: -30px;
        top: 5px;
    }
    .menu-item {
        height: 30px;
        width: 100%;
        background-color: #f5f5fa;
        color: #484848;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-item-selected {
        height: 30px;
        width: 100%;
        background-color: #282828;
        color: white;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-item-logout {
        height: 20px;
        width: 50px;
        background-color: #f5f5fa;
        margin: auto;
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .menu-modal-container {
        height: 80vh;
        background-color: #282828;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom: 5px solid #282828;
        color: white;
        overflow: scroll;
        overflow-x: hidden;
    }
    .more-link {
        color: white;
        text-align: start;
    }

}

/*
cursor: pointer;
opacity: 0.8;
transition: opacity 0.1s;
*/